<div class="pass-task-popup">
  <h3 mat-dialog-title>{{'TEMPLATE.TASK_LIST.STUDENT.PASS_TASK_MODAL.TITLE'| translate: {name: task.title} }}</h3>
  <div mat-dialog-content class="pass-task-wrap">
    <p innerHtml="{{'TEMPLATE.TASK_LIST.STUDENT.PASS_TASK_MODAL.INFO_VIDEO'| translate: {network: 'YouTube'} }}"></p>
    <p innerHtml="{{'TEMPLATE.TASK_LIST.STUDENT.PASS_TASK_MODAL.NETWORK_SETTING'| translate: {coach: userInfo.coach.name} }}"></p>
    <div class="item">
      <h3>{{'TEMPLATE.TASK_LIST.STUDENT.PASS_TASK_MODAL.LINK_TO_YOUR_VIDEO'| translate}}</h3>
      <mat-form-field>
        <input matInput placeholder="{{'TEMPLATE.TASK_LIST.STUDENT.PASS_TASK_MODAL.VIDEO_URL'| translate}}" required [(ngModel)]="reviewExample" (ngModelChange)="validUrl(reviewExample)">
      </mat-form-field>
    </div>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-stroked-button class="cancel" (click)="onNoClick()">{{'COMMON.CLOSE'| translate}}</button>
  <button mat-raised-button color="primary" [disabled]="!valid" (click)="request()" cdkFocusInitial>{{'TEMPLATE.TASK_LIST.STUDENT.PASS_TASK'| translate}}</button>
</div>
