<div class="pass-task-popup">
  <h3 mat-dialog-title>Сдать задачу <b>"{{task.title}}"</b></h3>
  <div mat-dialog-content class="pass-task-wrap">
    <p>Для того что бы сдать задание, тебе нужно снять видео и выложить его у себя в социальной сети <b>(instagram, YouTube, facebook, vimeo, TikTok)</b>.</p>
    <p>Твой профиль должен быть открыт, или у тренера ({{userInfo.coach.name}}) должен быть доступ к твоему аккаунту</p>
    <div class="item">
      <h3>Ссылка на твое задание</h3>
      <mat-form-field>
        <input matInput placeholder="URL на видео" required [(ngModel)]="reviewExample">
      </mat-form-field>
    </div>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-stroked-button class="cancel" (click)="onNoClick()">Отмена</button>
  <button mat-raised-button color="primary" [disabled]="!reviewExample" (click)="request()" cdkFocusInitial>Сдать</button>
</div>
