<mat-icon *ngIf="basket.length" [matMenuTriggerFor]="basketMenu" class="basket" [matBadge]="basket.length" matBadgePosition="before" matBadgeColor="primary">shopping_basket</mat-icon>
<mat-menu #basketMenu="matMenu">
  <div class="items-wrap">
    <div class="basket-item" *ngFor="let basketItem of basket">
      <div class="item-desc">
        <div class="title">{{basketItem.title}}</div>
        <mat-icon class="remove" (click)="removeItem(basketItem.id)">close</mat-icon>
      </div>
    </div>
    <div class="sum">
      <div class="skillz"><b>{{sum(basket, 'skillz')}}</b> skillz</div>
      <div class="price"><b>{{sum(basket, 'price')}}</b> UAH</div>
    </div>
    <button [routerLink]="['checkout']" mat-raised-button color="primary">{{'TEMPLATE.SHOP.PAY' | translate}}</button>
  </div>
</mat-menu>
