.items-wrap {
  padding: 5px;
  .basket-item {
    min-width: 200px;
    .item-desc {
      padding: 10px;
      position: relative;
      .title {
        font-size: 12px;
        font-weight: bold;
      }
      .remove {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 12px;
        width: 12px;
        height: 12px;
      }
      &:hover {
        background-color: #e3e3e3;
        border-radius: 3px;
        .remove {
          background-color: red;
          // border-radius: 50%;
          color: #fff;
        }
      }
    }
  }
  .sum {
    text-align: center;
    margin: 15px 0;
    .price {
      color: #6d6d6d;
      font-size: 8px;
    }
  }
  button {
    width: 100%;
  }
}
