<div class="overview">
<ul>
  <h2>Groupe</h2>
  <h4>Level</h4>
	<li><span class="item">Position in Groupe: </span><span class="item-value">1</span></li>
	<li><span class="item">Best skill: </span><span class="item-value">TATW</span></li>
	<li><span class="item">Time training: </span><span class="item-value">1 year</span></li>
	<li><span class="item">Count training: </span><span class="item-value">12</span></li>
	<li><span class="item">Progress in level: </span><span class="item-value">80%</span></li>
</ul>
<ul>
    <h2>Info</h2>
    <h4>Position</h4>
    <li><span class="item">Position in Groupe: </span><span class="item-value">1</span></li>
    <li><span class="item">Best skill: </span><span class="item-value">TATW</span></li>
    <li><span class="item">Time training: </span><span class="item-value">1 year</span></li>
    <li><span class="item">Count training: </span><span class="item-value">12</span></li>
    <li><span class="item">Progress in level: </span><span class="item-value">80%</span></li>
  </ul>
</div>
