<div class="overview" *ngIf="userInfo">
  <h1>Информация</h1>
<ul *ngIf="userInfo.group">
  <h2>Группа</h2>
  <h4>Уровень: {{userInfo.group.level}}</h4>
	<li><span class="item">Позиция в группе: </span><span class="item-value">{{userInfo.group.position}}</span></li>
	<li><span class="item">Лучший трюк: </span><span class="item-value">{{userInfo.bestTrick}}</span></li>
	<li><span class="item">Общее время занятия фритсайлом: </span><span class="item-value">{{userInfo.startTraining}}</span></li>
	<li><span class="item">Прогресс уровня: </span><span class="item-value">{{userInfo.group.progress}}</span></li>
</ul>
<ul *ngIf="userInfo.socialNetworks">
  <h2>Профайл</h2>
  <h4>Тип пользователя: {{userLogin.userType}}</h4>
  <li><span class="item">Обо мне: </span><span class="item-value">{{userInfo.aboutMe}}</span></li>
  <li><span class="item">Телефон: </span><span class="item-value">{{userInfo.phone}}</span></li>
  <h2>Соц.сети</h2>
  <li><span class="item">Facebook:</span><span class="item-value">{{userInfo.socialNetworks.facebook}}</span></li>
  <li><span class="item">Instagram:</span><span class="item-value">{{userInfo.socialNetworks.instagram}}</span></li>
</ul>
<ul *ngIf="userLogin.userType === 'parent' && userInfo.parent">
  <h4>Родитель</h4>
  <li><span class="item">Имя: </span><span class="item-value">{{userInfo.parent.name}}</span></li>
  <li><span class="item">Почта: </span><span class="item-value">{{userInfo.parent.email}}</span></li>
  <li><span class="item">Телефон: </span><span class="item-value">{{userInfo.parent.phone}}</span></li>
</ul>
</div>
