<div class="overview">
<ul>
  <h2>Группа</h2>
  <h4>Уровень: Начинающий</h4>
	<li><span class="item">Позиция в группе: </span><span class="item-value">1</span></li>
	<li><span class="item">Лучший трюк: </span><span class="item-value">TATW</span></li>
	<li><span class="item">Общее время занятия фритсайлом: </span><span class="item-value">1 year</span></li>
	<li><span class="item">Количество треннировок в месяц: </span><span class="item-value">12</span></li>
	<li><span class="item">Прогресс уровня: </span><span class="item-value">80%</span></li>
</ul>
<ul>
    <h2>Информация</h2>
    <h4>Позиция</h4>
    <li><span class="item">Позиция в группе: </span><span class="item-value">1</span></li>
    <li><span class="item">Лучший трюк: </span><span class="item-value">TATW</span></li>
    <li><span class="item">Общее время занятия фритсайлом: </span><span class="item-value">1 year</span></li>
    <li><span class="item">Количество треннировок в месяц: </span><span class="item-value">12</span></li>
    <li><span class="item">Прогресс уровня: </span><span class="item-value">80%</span></li>
  </ul>
</div>
