<mat-toolbar class="toolbar">
<button [disabled]='!userInfo' mat-button class="hamburger" (click)="toogleCollapsed.emit()">
    <mat-icon>menu</mat-icon>
</button>
<div class="logo">
        <img src="assets/img/logo-lb.png" alt="">
    </div>
    <span class="spacer"></span>
    <app-language></app-language>
    <button (click)="requestAdminPermission()" mat-stroked-button *ngIf="userInfo.role.id === userRole.COACH && !userInfo.role.status">{{'TEMPLATE.DASHBOARD.COACH_REQUEST.REQUEST_FOR_COACH' | translate}}</button>
    <a class="help-info" [routerLink]="['./how-to-use']"><mat-icon>
      help_outline</mat-icon></a>
    <mat-icon (click)="logout()">exit_to_app</mat-icon>
</mat-toolbar>