.logo {
    max-width: 29px;
    max-height: 29px;
    img {
        width: 100%;
    }
}
.mat-toolbar {
    .nav {
        li {
            display: inline-block;
            margin-left: 25px;
            a {
                color: #000;
                text-decoration: none;
            }
        }
    }
}
button {
  margin-right: 15px;
}
app-language {
  margin-right: 20px;
}
.help-info {
  line-height: 10px;
  margin-right: 10px;
  color: #000;
}
.spacer {
    flex: 1 1 auto;
}
.notify-container {
  .notify-item {
    padding: 10px;
    cursor: pointer;
    &:hover {
      background-color: rgb(0 0 0 / 4%);
    }
    .title {
      font-weight: bold;
    }
    .desc {
      font-size: 12px
    }
  }
}
@import '../../../shared/styles.mixins.scss'; 