.logo {
    max-width: 29px;
    max-height: 29px;
    img {
        width: 100%;
    }
}
.mat-toolbar {
    .nav {
        li {
            display: inline-block;
            margin-left: 25px;
            a {
                color: #000;
                text-decoration: none;
            }
        }
    }
}
button {
  margin-right: 15px;
}
app-language {
  margin-right: 20px;
}
.help-info {
  line-height: 10px;
  margin-right: 10px;
  color: #000;
}
.spacer {
    flex: 1 1 auto;
}
.skillz-count {
  margin: 0 15px;
}
::ng-deep {
  .mat-menu-content {
    padding: 1px 5px 1px 5px !important;
  }
}
.notify-container {
  .notify-item {
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin: 4px 0 4px;
    //box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(76 175 80 / 40%);
    &:hover {
      background: linear-gradient(60deg,#66bb6a, #43a047);
      color: #fff;
      .title {
        color: #fff;
      }
    }
    .title {
      font-weight: bold;
      color: #636363;
      font-size: 12px;
    }
    .desc {
      font-size: 12px
    }
  }
}
@import '../../../shared/styles.mixins.scss';
