<h2 mat-dialog-title>{{'TEMPLATE.DASHBOARD.COACH_REQUEST.TITLE' | translate: {coachName: user.userName} }}</h2>
<div mat-dialog-content>
  <h4>{{'TEMPLATE.DASHBOARD.COACH_REQUEST.QUESTION' | translate}}</h4>
  <p>{{'TEMPLATE.DASHBOARD.COACH_REQUEST.SEND_REQUEST' | translate}}</p>
  <p>{{'TEMPLATE.DASHBOARD.COACH_REQUEST.ADMIN_FEEDBACK' | translate}}</p>
  <mat-form-field class="full-width">
    <mat-label>{{'COMMON.PHONE' | translate}}</mat-label>
    <input matInput value="user.phone" [(ngModel)]="phone" prefix="+3 " mask="(000) 000-00-00">
  </mat-form-field>
</div>
<div mat-dialog-actions align="end">
  <button mat-stroked-button class="cancel" (click)="onNoClick()">{{'COMMON.CLOSE' | translate}}</button>
  <button mat-raised-button color="primary" [disabled]="phone.length < 10" (click)="request()" cdkFocusInitial>{{'COMMON.REQUEST' | translate}}</button>
</div>
