
.profile-wrap {
    .content {
        .card {
          margin-bottom: 25px;
            .header-image {
                background-image: url('../../../../../assets/user-default.png');
                background-size: cover;
            }
        }
    }
}