<div class="profile-wrap">
<h4>Профиль</h4>
  <div class="content">
      <div class="col">
        <mat-card class="card">
          <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>Имя</mat-card-title>
            <mat-card-subtitle>Уровень</mat-card-subtitle>
            <mat-icon routerLink="settings">edit</mat-icon>
          </mat-card-header>
        </mat-card>
      <mat-card class="card">
              <mat-card-content>
                      <router-outlet></router-outlet>
              </mat-card-content>
      </mat-card>
      </div>
    </div>
</div>
