<h3>{{'TEMPALTE.SHOP.PRODUCT.CREATE_TITLE' | translate}}</h3>
<div class="create-wrap">
  <form [formGroup]="productForm" (ngSubmit)="createProduct()">
    <div class="form-view">
      <div class="item">
        <h3>{{'TEMPALTE.SHOP.PRODUCT.PRODUCT_CATEGORY' | translate}}</h3>
        <mat-form-field>
          <mat-label>{{'TEMPALTE.SHOP.PRODUCT.CATEGORY' | translate}}</mat-label>
          <mat-select formControlName="category">
            <mat-option *ngFor="let category of categoryList" [value]="category">{{category.title}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      {{productForm.value.category.sizes}}
      <div class="item" *ngIf="productForm.value.category && productForm.value.category.sizes">
        <h3>{{'TEMPALTE.SHOP.PRODUCT.PRODUCT_SIZE' | translate}}</h3>
        <mat-form-field>
          <mat-label>{{'TEMPALTE.SHOP.PRODUCT.SIZES' | translate}}</mat-label>
          <mat-select formControlName="sizes" multiple>
            <mat-option *ngFor="let size of productForm.value.category.sizes" [value]="size">{{size}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="item">
        <mat-form-field>
          <input formControlName="title" matInput placeholder="{{'TEMPALTE.SHOP.PRODUCT.TITLE' | translate}}" required>
        </mat-form-field>
        <h3>{{'TEMPALTE.SHOP.PRODUCT.DETAILS_DESCRIPTION' | translate}}</h3>
        <quill-editor formControlName="description" placeholder="{{'COMMON.DETAILS' | translate}}" required="true"></quill-editor>
      </div>
      <div class="item">
        <mat-form-field>
          <input formControlName="price" matInput placeholder="{{'TEMPALTE.SHOP.PRODUCT.PRICE' | translate}}" required>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="skillz" matInput placeholder="{{'TEMPALTE.SHOP.PRODUCT.SKILLZ' | translate}}" required>
        </mat-form-field>
      </div>
    </div>
    <button mat-raised-button color="primary" [disabled]="productForm.valid">{{'TEMPALTE.SHOP.PRODUCT.CREATE' | translate}}</button>
    <button mat-raised-button color="primary" routerLink="../list">{{'COMMON.BACK' | translate}}</button>
  </form>
</div>
