<div class="wrapper">
  <div class="centering">
    <div class="content">
      <div class="user-email" *ngIf="!token">
        <form class="form">
          <p class="name-page">{{'TEMPLATE.FORGOT_PASSWORD.RESET_PASSWORD_TITLE' | translate}}</p>
          <p class="additional-info">{{'TEMPLATE.FORGOT_PASSWORD.EMAIL_VERIFICATION.SEND_EMAIL_INFO' | translate}}</p>
          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>{{'COMMON.EMAIL' | translate}}</mat-label>
              <input [formControl]="email" type="email" matInput>
            </mat-form-field>
          </div>
          <div class="line-block">
            <button [disabled]="!email.valid || disabledRequest" (click)="remind(email.value)" mat-flat-button color="primary">{{'TEMPLATE.FORGOT_PASSWORD.RESET_PASSWORD' | translate}}</button>
            <span *ngIf="disabledRequest">
              {{countDown / 1000}}
            </span>
          </div>
        </form>
      </div>
      <div class="enter-code" *ngIf="token">
        <p class="name-page">{{'TEMPLATE.FORGOT_PASSWORD.EMAIL_VERIFICATION.VERIFY_CODE.VERIFY_EMAIL_TITLE' | translate}}</p>
        <p class="additional-info" innerHTML="{{'TEMPLATE.FORGOT_PASSWORD.EMAIL_VERIFICATION.VERIFY_CODE.VERIFY_EMAIL_INFO' | translate:{email: email.value} }}"></p>
        <form class="form">
          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>{{'COMMON.CODE' | translate}}</mat-label>
              <input [formControl]="code" type="number" matInput>
            </mat-form-field>
          </div>
          <div class="line-block">
            <button [disabled]="!code.valid" (click)="confirmResetPassword(code.value)" mat-flat-button color="primary">{{'TEMPLATE.FORGOT_PASSWORD.EMAIL_VERIFICATION.VERIFY_CODE.VERIFY' | translate}}</button>
            <button class="resend-code" mat-button [disabled]="disabledRequest" (click)="resendCode()">{{'TEMPLATE.FORGOT_PASSWORD.RESEND_CODE' | translate}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



