.homeworks-list {
  padding: 30px 0;
  mat-grid-list {
    height: 600px;
    min-height: 600px;
    mat-card {
      width: 100%;
      .mat-card-content {
        min-height: 170px;
      }
      &.new-homework {
        background-color: #00ff141f;
      }
      h4 {
        display: flex;
        justify-content: space-between;
      }
      .created-date {
        font-size: 12px;
      }
    }
    mat-grid-tile {
      overflow: visible;
    }
  }
}
.actions-wrap {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .search-input {
    width: 35%;
    position: relative;
    mat-icon {
      position: absolute;
      right: 0;
    }
  }
}
mat-paginator {
  margin-bottom: 10px;
  background-color: transparent;
}
