.homeworks-list {
  padding: 30px 0;
  mat-grid-list {
    height: 600px;
    min-height: 600px;
    mat-card {
      width: 100%;
      .mat-card-content {
        min-height: 170px;
      }
      &.new-homework {
        background-color: #00ff141f;
      }
      h4 {
        display: flex;
        justify-content: space-between;
      }
      .created-date {
        font-size: 12px;
      }
    }
    mat-grid-tile {
      overflow: visible;
      //min-height: 600px;
      //padding-top: 0 !important;
    }
  }
}
