<div class="coach-actions-button">
  <button *ngIf="(userInfo | userRolePipe:[userRoles.ADMIN, userRoles.COACH])" routerLink="../create" mat-raised-button color="primary">Создать ДЗ</button>
</div>
<div class="homeworks-list">
  <div class="empty" *ngIf="homeworksList && !homeworksList.length">
    Домашние задания пусты
  </div>
  <mat-grid-list cols="4" rowHeight="450px" [gutterSize]="'30px'" *ngIf="homeworksList && homeworksList.length">
    <mat-grid-tile *ngFor="let homework of homeworksList">
      <mat-card class="example-card">
        <div mat-card-image>
          <youtube-player
          [videoId]="youTubeGetID(homework.example)"
          suggestedQuality="highres"
          [height]="200"
          width="100%">
        </youtube-player>
        </div>
        <mat-card-content>
          <h4>{{homework.title}}</h4>
          <p [innerHtml]="homework.description"></p>
          <span *ngIf="(userInfo | userRolePipe:[userRoles.ADMIN, userRoles.COACH])"
               class="students"
               [matTooltip]="studentNames(homework)"
               matTooltipClass="example-tooltip-red"
               matTooltipPosition="above"
               aria-label="Button that shows a red tooltip"
          >
            <b>Студенты</b>
          </span>
        </mat-card-content>
        <mat-card-actions>
          <div class="homework-actions">
            <button (click)="likeHomework(homework.id)" mat-icon-button [color]="homework.likes.indexOf(userInfo.id) >= 0 ? 'warn' : 'basic'" aria-label="like">
              <mat-icon>favorite</mat-icon> {{homework.likes.length}}
            </button>
            <button mat-button [routerLink]="['../edit/', homework.id]" *ngIf="(userInfo | userRolePipe:[userRoles.ADMIN, userRoles.COACH])">Редактировать</button>
            <button mat-button (click)="deleteHomework(homework.id)" *ngIf="(userInfo | userRolePipe:[userRoles.ADMIN, userRoles.COACH])" color="warn">Удалить</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
