<h1>{{'COMMON.HOMEWORKS' | translate}}</h1>
<div class="coach-actions-button">
  <button *ngIf="(userInfo | userRolePipe:[userRoles.ADMIN, userRoles.COACH])" routerLink="../create" mat-raised-button color="primary">{{'TEMPLATE.HOMEWORKS.CREATE_HOMEWORK' | translate}}</button>
</div>
<div class="actions-wrap">
  <mat-form-field class="search-input">
    <mat-icon>search</mat-icon>
    <input
    [(ngModel)]="sort.query"
    (ngModelChange)="searchQueryDescription(sort.query)"
    matInput
    placeholder="{{'TEMPLATE.VIDEOS.SEARCH_DESCRIPTION' | translate}}"
    >
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{'COMMON.SORT.PLACEHOLDER' | translate}}</mat-label>
    <mat-select [disabled]="sort.query.length > 0" [(ngModel)]="sort.currentSort" #selectedvalue (valueChange)="changeSort(selectedvalue.value)">
      <mat-option *ngFor="let sort of sort.sortList" [value]="sort">{{sort.id ? sort.name : ('COMMON.SORT.' + sort.name.toUpperCase() | translate)}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="homeworks-list">
  <div class="empty" *ngIf="homeworksList && !homeworksList.length">
    {{'COMMON.EMPTY' | translate}}
  </div>
  <mat-grid-list [cols]="breakpoint" rowHeight="450px" [gutterSize]="'30px'" *ngIf="homeworksList && homeworksList.length" (window:resize)="onResize($event)">
    <mat-grid-tile *ngFor="let homework of homeworksList">
      <mat-card class="example-card" [ngClass]="{'new-homework': newHomeworkNotifyId === homework.id}">
        <div mat-card-image>
          <youtube-player
          [videoId]="youTubeGetID(homework.example)"
          suggestedQuality="highres"
          [height]="200"
          width="100%">
        </youtube-player>
        </div>
        <mat-card-content>
          <h4>{{homework.title}}<span class="created-date">{{homework.createdDate | date: 'dd.MM.yyyy'}}</span>
          </h4>
          <p [innerHtml]="homework.description"></p>
          <span *ngIf="(userInfo | userRolePipe:[userRoles.ADMIN, userRoles.COACH])"
               class="students"
               [matTooltip]="studentNames(homework)"
               matTooltipClass="example-tooltip-red"
               matTooltipPosition="above"
               aria-label="Button that shows a red tooltip"
          >
            <b>{{'COMMON.STUDENTS' | translate}}</b>
          </span>
        </mat-card-content>
        <mat-card-actions>
          <div class="homework-actions">
            <button (click)="likeHomework(homework.id)" mat-icon-button [color]="homework.likes.indexOf(userInfo.id) >= 0 ? 'warn' : 'basic'" aria-label="like">
              <mat-icon>favorite</mat-icon> <span *ngIf="homework.likes.length">{{homework.likes.length}}</span>
            </button>
            <button mat-button [routerLink]="['../edit/', homework.id]" *ngIf="(userInfo | userRolePipe:[userRoles.ADMIN, userRoles.COACH]) && checkPermission(homework)">{{'COMMON.UPDATE' | translate}}</button>
            <button mat-button (click)="deleteHomework(homework)" *ngIf="(userInfo | userRolePipe:[userRoles.ADMIN, userRoles.COACH]) && checkPermission(homework)" color="warn">{{'COMMON.DELETE' | translate}}</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<mat-paginator
  [length]="sort.length"
  [pageSize]="paginationOptions.pageSize"
  [pageSizeOptions]="paginationOptions.pageSizeOptions"
  (page)="onPageChange($event)"
  #matPaginator
  [disabled]="!sort.length || sort.length < 4"
  aria-label="Select page">
</mat-paginator>
