<div class="main-home">
  <h1>{{'TEMPLATE.MAIN_INFO.TITLE' | translate}}</h1>
  <h3>{{'TEMPLATE.MAIN_INFO.SCHOOL_DESCRIPTION' | translate}}</h3>
  <h3>
    {{'TEMPLATE.MAIN_INFO.FOOTBALL_FREESTYLE.TITLE' | translate}}
  </h3>
  <p>
    {{'TEMPLATE.MAIN_INFO.FOOTBALL_FREESTYLE.ABOUT' | translate}}
  </p>
  <p>
    {{'TEMPLATE.MAIN_INFO.FOOTBALL_FREESTYLE.STUDY' | translate}}
  </p>
  <p>
    {{'TEMPLATE.MAIN_INFO.FOOTBALL_FREESTYLE.UNIQ' | translate}}
  </p>
  <b> {{'TEMPLATE.MAIN_INFO.FOOTBALL_FREESTYLE.REQUIRE.TITLE' | translate}}</b>
  <ul class="default">
    <li>
      {{'TEMPLATE.MAIN_INFO.FOOTBALL_FREESTYLE.REQUIRE.LIST.ONE' | translate}}
    </li>
    <li>
      {{'TEMPLATE.MAIN_INFO.FOOTBALL_FREESTYLE.REQUIRE.LIST.TWO' | translate}}
    </li>
    <li>
      {{'TEMPLATE.MAIN_INFO.FOOTBALL_FREESTYLE.REQUIRE.LIST.THREE' | translate}}
    </li>
  </ul>
  <h3>
    {{'TEMPLATE.MAIN_INFO.FOOTBALL.TITLE' | translate}}
  </h3>
  <p>
    {{'TEMPLATE.MAIN_INFO.FOOTBALL.ABOUT' | translate}}
  </p>
  <p>
    {{'TEMPLATE.MAIN_INFO.FOOTBALL.REASON' | translate}}
  </p>
  <h3>{{'TEMPLATE.MAIN_INFO.OFFLINE.TITLE' | translate}}</h3>
  <p>
    {{'TEMPLATE.MAIN_INFO.OFFLINE.ABOUT' | translate}}
  </p>
  <p>
    {{'TEMPLATE.MAIN_INFO.OFFLINE.REMEMBER' | translate}}
  </p>
  <h5>{{'TEMPLATE.MAIN_INFO.ORDER_TRAINING' | translate}}</h5>
</div>