<div class="main-home">
  <h1>Librarytricks online school</h1>
  <h3>ШОКЛА ОБУЧЕНИЯ ФУТБОЛЬНОМУ МАСТЕРСТВУ</h3>
  <h3>
    Футбольный фристайл
  </h3>
  <p>
    Фристайл в Украине популярен среди детей, подростков и молодежи. Желающих пройти обучение футбольным финтам так
    много, что нами было принято решение открыть школу футбольного фристайла. Записавшись на занятия, вы сможете
    приобщиться к этому виду спорта, и кто знает, может быть стать восходящей звездой.
  </p>
  <p>
    Обучение футбольному фристайлу доступно каждому, нужно только немного терпения и упорного стремления к цели.
    <br>
    Для начала нужно подготовиться к занятиям:
  </p>
  <b>обзавестись удобной обувью и одеждой, не стесняющей движения:</b>
  <ul class="default">
    <li>
      «не опускать руки» даже если получается не сразу.
    </li>
    <li>
      приобрести специальный мяч для дополнительных тренировок вне школы (оригинал или реплика, размер 5);
    </li>
    <li>
      посещать регулярно занятия, выполнять домашние задания и проходить курсы;
    </li>
  </ul>
  <h3>
    Футбол
  </h3>
  <p>
    Футбол – самый популярный вид спорта в мире. В то время, как в Украине при обучении футболу акцент ставят на
    развитие физических качеств, европейские клубы давно делают упор на обучение техническим навыкам и тактическим
    принципам.
  </p>
  <p>
    Потому у нас возникло решение открыть школу футбола с совершенно другими ценностями, в которой гармонично
    взаимодействуют академический футбол и уличный свободный стиль(футбольный фристайл), где во главу угла ставится
    качества обучения.
  </p>
  <h3>Офлайн обучение</h3>
  <p>
    Офлайн обучение уже проходит в Днепре, а чтобы дать возможность получить футбольное образование высокого уровня
    ребятам со всей Украины, мы запустили онлайн проект.
  </p>
  <p>
    Помните, что филигранная техника, да и в целом высокий уровень игры в футбол – это продукт большого количества часов
    самостоятельной работы, а не только командных тренировок. Рональдиньо набивал мяч в номере отеля после матчей
    Чемпионата Мира. Роналдо оставался после тренировок и по часу отрабатывал свои удары. Кройфф упоминал, что, играя за
    детскую команду Аякса по 4-5 часов в неделю, он проводил на улице по 15-20 часов, и именно там сформировалась его
    техника.
  </p>
</div>