<h1>{{'COMMON.COURSE' | translate}}</h1>
<!-- Only coach and admin role -->
<h4 *ngIf="(userInfo | userRolePipe:[userRoles.COACH]) && !userInfo.role.status ">{{'TEMPLATE.TASK_LIST.COACH.WARNING_MESSAGE' | translate}}</h4>
<div class="nav" *ngIf="(userInfo | userRolePipe:[userRoles.ADMIN, userRoles.COACH]) && userInfo.role.status">
  <div class="coach-actions-button">
    <button mat-raised-button color="primary" (click)="createCourse()">{{'TEMPLATE.TASK_LIST.COACH.COACH_BUTTONS.CREATE_COURSE' | translate}}</button>
    <button mat-raised-button color="primary" (click)="updateCourse()">{{'TEMPLATE.TASK_LIST.COACH.COACH_BUTTONS.UPDATE_COURSE' | translate}}</button>
    <button *ngIf="coursesList.length && currentCourse" mat-raised-button color="primary" routerLink="../create-task" [queryParams]="{courseId: currentCourse.id}">{{'TEMPLATE.TASK_LIST.COACH.COACH_BUTTONS.CREATE_TASK' | translate}}</button>
    <button *ngIf="processingTasks" mat-raised-button color="primary" (click)="viewProcessingTasks()"><span [matBadge]="processingTasks" matBadgeOverlap="false" matBadgeColor="accent">{{'TEMPLATE.TASK_LIST.COACH.COACH_BUTTONS.IN_PROGRESS' | translate}}</span></button>
    <button *ngIf="pendingTasks" mat-raised-button color="primary" routerLink="../check-tasks"><span [matBadge]="pendingTasks" matBadgeOverlap="false" matBadgeColor="accent">{{'TEMPLATE.TASK_LIST.COACH.COACH_BUTTONS.CHECK' | translate}}</span></button>
  </div>
  <mat-form-field *ngIf="(userInfo | userRolePipe:[userRoles.COACH]) && coursesList && coursesList.length">
    <mat-label>{{'COMMON.COURSE' | translate}}</mat-label>
    <mat-select [compareWith]="compareObjects" [(ngModel)]="currentCourse" #selectedvalue (valueChange)="changeCourse(selectedvalue.value.id, userInfo.id)">
      <mat-option *ngFor="let course of coursesList" [value]="course">{{course.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<!-- Only coach and admin role -->

<!-- Only student -->
<!-- <div class="warning" *ngIf="(userInfo | userRolePipe:[userRoles.STUDENT]) && !userInfo.coach.id">
  <h4>{{'TEMPLATE.TASK_LIST.STUDENT.WARNING_MESSAGE' | translate}}</h4>
</div> -->
<div class="header-task" *ngIf="!(userInfo | userRolePipe:[userRoles.COACH])">
  <mat-form-field *ngIf="coachList">
    <mat-label>{{'TEMPLATE.PROFILE.SELECT_YOUR_COACH' | translate}}</mat-label>
    <mat-select [compareWith]="compareObjectsCoach" [(ngModel)]="selectedCoach" #selectedvalue (valueChange)="changeCoach(selectedvalue.value.id)">
      <mat-option *ngFor="let coach of coachList" [value]="coach">{{coach.userName}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button (click)="assignCourseToUser()" *ngIf="(userInfo | userRolePipe:[userRoles.STUDENT]) && (selectedCourse && selectedCourse.id !== userInfo.course.id) && currentCourse.paid" mat-raised-button color="primary">{{'TEMPLATE.TASK_LIST.START_COURSE' | translate}}</button>
  <mat-form-field *ngIf="coursesList && coursesList.length">
    <mat-label>{{'COMMON.COURSE' | translate}}</mat-label>
    <mat-select [compareWith]="compareObjects" [(ngModel)]="selectedCourse" #selectedvalue (valueChange)="changeCourse(selectedvalue.value.id, selectedCoach.id)">
      <mat-option *ngFor="let course of coursesList" [value]="course">{{course.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="info-item" *ngIf="(userInfo | userRolePipe:[userRoles.STUDENT]) &&  (selectedCourse && selectedCourse.id === userInfo.course.id)">
  <div class="markers">
    <div class="marker-item">
      <mat-icon class="icon">check_circle_outline</mat-icon>
      <span>{{'TEMPLATE.TASK_LIST.TASK_STATUSES.DONE' | translate}}</span>
    </div>
    <div class="marker-item">
      <mat-icon class="icon">slow_motion_video</mat-icon>
      <span>{{'TEMPLATE.TASK_LIST.TASK_STATUSES.PROGRESS' | translate}}</span>
    </div>
    <div class="marker-item">
      <mat-icon class="icon">flaky</mat-icon>
      <span>{{'TEMPLATE.TASK_LIST.TASK_STATUSES.CHECKING' | translate}}</span>
    </div>
  </div>
</div>
<!-- <div class="help-info" *ngIf="(userInfo | userRolePipe:[userRoles.STUDENT]) && !currentCourse">
  <h4>{{'TEMPLATE.TASK_LIST.STUDENT.NO_COACH_NO_COURSE' | translate}}</h4>
</div> -->
<!-- Only student -->
<div class="selected-course" *ngIf="selectedCourse">
  <p [innerHtml]="selectedCourse.description.text"></p>
  <youtube-player
  *ngIf="selectedCourse.description.video"
    [videoId]="youTubeGetID(selectedCourse.description.video)"
    suggestedQuality="highres"
    [height]="250"
    [width]="500">
  </youtube-player>
</div>
<div class="task-list-wrap"  *ngIf="userInfo.role.status && currentCourse">
  <div class="empty-tasks" *ngIf="tasksList && !tasksList.length">
    <h2>{{'COMMON.EMPTY_LIST' | translate}}</h2>
  </div>
  <div class="checkout" *ngIf="(userInfo | userRolePipe:[userRoles.STUDENT]) && currentCourse && currentCourse.id && !currentCourse?.paid">
    <h2>{{'TEMPLATE.TASK_LIST.STUDENT.COURSE_NOT_PAID' | translate}}</h2>
    <button routerLink="../../payments" mat-raised-button color="primary"><mat-icon>payment</mat-icon>{{'COMMON.BUY' | translate}}</button>
  </div>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let task of tasksList; let i = index"
    [ngClass]="{'done': (userInfo | userRolePipe:[userRoles.STUDENT]) && task.done}"
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
    [disabled]="((userInfo | userRolePipe:[userRoles.STUDENT]) && !task.allow && !task.done || !currentCourse.paid) && !!(userInfo | userRolePipe:[userRoles.STUDENT]) || (userInfo | userRolePipe:[userRoles.PARENT])"
    [expanded]="userInfo.currentTask && task.id === userInfo.currentTask.id && userInfo.currentTask.status === taskStatuses.PROCESSING"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span *ngIf="userInfo.currentTask" class="task-statuses">
          <mat-icon *ngIf="task.done" class="done">check_circle_outline</mat-icon>
          <mat-icon *ngIf="task.status === taskStatuses.PROCESSING" class="processing">slow_motion_video</mat-icon>
          <mat-icon *ngIf="task.status === taskStatuses.PENDING" class="pending">flaky</mat-icon>
          </span>
          {{task.title}}
        </mat-panel-title>
        <mat-panel-description>
          {{task.course.name}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div [innerHtml]="task.description"></div>
      <p class="reward">
        {{'TEMPLATE.TASK_LIST.TASK_REWARD' | translate}}: {{task.reward}} skillz
      </p>
      <div class="video">
        <youtube-player
          [videoId]="youTubeGetID(task.example)"
          suggestedQuality="highres"
          [height]="250"
          [width]="500">
        </youtube-player>
      </div>
      <div *ngIf="(userInfo | userRolePipe:[userRoles.STUDENT]) && task.status === taskStatuses.PROCESSING && userInfo.currentTask.rejectReason" class="reject-reason">
        <h4><mat-icon class="icon warn">warning</mat-icon>{{'TEMPLATE.TASK_LIST.STUDENT.REJECT_REASON' | translate}}</h4>
        <p>
          {{userInfo.currentTask.rejectReason}}
        </p>
      </div>
      <div class="task-done" *ngIf="(userInfo | userRolePipe:[userRoles.STUDENT]) && task.done">
        <mat-icon class="icon">done</mat-icon>
        <p>
          {{'TEMPLATE.TASK_LIST.TASK_STATUSES.DONE' | translate}}
        </p>
      </div>
      <p *ngIf="(userInfo | userRolePipe:[userRoles.STUDENT]) && userInfo.currentTask.status === taskStatuses.PENDING && userInfo.currentTask.id === task.id">{{'TEMPLATE.TASK_LIST.TASK_STATUSES.CHECKING' | translate}}</p>
      <button *ngIf="(userInfo | userRolePipe:[userRoles.STUDENT]) && task.id !== userInfo.currentTask.id && task.allow" (click)="assignTask(task)" mat-raised-button color="primary">{{'TEMPLATE.TASK_LIST.STUDENT.START_TASK' | translate}}</button>
      <button *ngIf="(userInfo | userRolePipe:[userRoles.STUDENT]) && task.id === userInfo.currentTask.id && userInfo.currentTask.status === taskStatuses.PROCESSING" mat-raised-button color="primary" (click)="passTask(task)">{{'TEMPLATE.TASK_LIST.STUDENT.PASS_TASK' | translate}}</button>
      <button *ngIf="(userInfo | userRolePipe:[userRoles.ADMIN, userRoles.COACH])" mat-raised-button color="primary" [routerLink]="['../update-task/', task.id]">{{'COMMON.UPDATE' | translate}}</button>
      <button *ngIf="task.nextTask.id !== 'initial' && (userInfo | userRolePipe:[userRoles.ADMIN, userRoles.COACH])" mat-raised-button color="warn" (click)="deleteTask(task)">{{'COMMON.DELETE' | translate}}</button>
    </mat-expansion-panel>
  </mat-accordion>
</div>
