.task-list-wrap {
  padding: 25px 0;
  mat-panel-title {
    font-weight: bold;
    font-size: 18px;
  }
  .mat-expansion-panel {
    button {
      margin-right: 10px;
      margin-top: 25px;
    }
    &.done {
      .mat-icon {
        &.done {
          color: #c0dabd;
          position: relative;
          padding: 0 10px;
          margin-right: 10px;
          border-left: 1px solid #c0dabd;
          border-right: 1px solid #c0dabd;
          //&:before {
          //  content: '';
          //  width: 1px;
          //  height: 100%;
          //  background-color: #c0dabd;
          //  position: absolute;
          //  left: 0;
          //}
        }
      }
    }
  }
  .mat-expansion-panel-header-description {
    justify-content: flex-end;
  }
  .empty-tasks {
    text-align: center;
  }
}
.nav {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  .coach-actions-button {
    button {
      margin-right: 15px;
    }
  }
}
