<h1>Задания футбольного фристайла</h1>
   
<!-- Only coach and admin role -->
<h4 *ngIf="(userInfo | userRolePipe:[userRoles.COACH]) && !userInfo.role.status ">Что бы создавать задания вы должны получить подтверждения о тренерстве</h4>
<div class="nav" *ngIf="(userInfo | userRolePipe:[userRoles.ADMIN, userRoles.COACH]) && userInfo.role.status">
  <div class="coach-actions-button">
    <button mat-raised-button color="primary" (click)="createCourse()">Создать курс</button>
    <button *ngIf="coursesList.length && currentCourse" mat-raised-button color="primary" routerLink="../create-task">Создать задание</button>
    <button *ngIf="processingTasks" mat-raised-button color="primary" (click)="viewProcessingTasks()"><span [matBadge]="processingTasks" matBadgeOverlap="false" matBadgeColor="accent">В процессе</span></button>
    <button *ngIf="pendingTasks" mat-raised-button color="primary" routerLink="../check-tasks"><span [matBadge]="pendingTasks" matBadgeOverlap="false" matBadgeColor="accent">Ожидают проверки</span></button>
  </div>
  <mat-form-field *ngIf="coursesList && coursesList.length">
    <mat-label>Курс</mat-label>
    <mat-select [compareWith]="compareObjects" [(ngModel)]="currentCourse" #selectedvalue (valueChange)="changeCourse(selectedvalue.value)">
      <mat-option *ngFor="let course of coursesList" [value]="course">{{course.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<!-- Only coach and admin role -->

<!-- Only student -->
<div class="header-task" *ngIf="(userInfo | userRolePipe:[userRoles.STUDENT]) && currentCourse">
  <div class="info-item">
    <p><b>Курс:</b> {{userInfo.course.name}}</p>
    <p><b>Тренер:</b> {{userInfo.coach.name}}</p>
  </div>
  <div class="info-item">
    <div class="markers">
      <div class="marker-item">
        <mat-icon class="icon">check_circle_outline</mat-icon>
        <span>Задание выполнено</span>
      </div>
      <div class="marker-item">
        <mat-icon class="icon">slow_motion_video</mat-icon>
        <span>Задание в процесе выполнения</span>
      </div>
      <div class="marker-item">
        <mat-icon class="icon">flaky</mat-icon>
        <span>Задание проверяеться</span>
      </div>
    </div>
  </div>
</div>
<div class="help-info" *ngIf="(userInfo | userRolePipe:[userRoles.STUDENT]) && !currentCourse">
  <h4>Выберите тренера и группу что бы начать выполнять задания</h4>
</div>
<!-- Only student -->

<div class="task-list-wrap"  *ngIf="userInfo.role.status || userInfo.coach">
  <div class="empty-tasks" *ngIf="tasksList && !tasksList.length">
    <h2>Список заданий пуст</h2>
  </div>
  <div class="checkout" *ngIf="(userInfo | userRolePipe:[userRoles.STUDENT]) && !currentCourse.paid">
    <h2>Курс не оплачен</h2>
    <button routerLink="../../payments" mat-raised-button color="primary"><mat-icon>payment</mat-icon>Оплатить</button>
  </div>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let task of tasksList; let i = index"
    [ngClass]="{'done': (userInfo | userRolePipe:[userRoles.STUDENT]) && task.done}"
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
    [disabled]="(userInfo | userRolePipe:[userRoles.STUDENT]) && !task.allow && !task.done || !currentCourse.paid"
    [expanded]="userInfo.currentTask && task.id === userInfo.currentTask.id && userInfo.currentTask.status === taskStatuses.PROCESSING"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span *ngIf="userInfo.currentTask" class="task-statuses">
          <mat-icon *ngIf="task.done" class="done">check_circle_outline</mat-icon>
          <mat-icon *ngIf="task.status === taskStatuses.PROCESSING" class="processing">slow_motion_video</mat-icon>
          <mat-icon *ngIf="task.status === taskStatuses.PENDING" class="pending">flaky</mat-icon>
          </span>
          {{task.title}}
        </mat-panel-title>
        <mat-panel-description>
          {{task.course.name}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div [innerHtml]="task.description"></div>
      <p class="reward">
        Оценка задания: {{task.reward}} баллов
      </p>
      <div class="video">
        <youtube-player
          [videoId]="youTubeGetID(task.example)"
          suggestedQuality="highres"
          [height]="250"
          [width]="500">
        </youtube-player>
      </div>
      <div *ngIf="(userInfo | userRolePipe:[userRoles.STUDENT]) && task.status === taskStatuses.PROCESSING && userInfo.currentTask.rejectReason" class="reject-reason">
        <h4><mat-icon class="icon warn">warning</mat-icon> Причина отклонения задания</h4>
        <p>
          {{userInfo.currentTask.rejectReason}}
        </p>
      </div>
      <div class="task-done" *ngIf="(userInfo | userRolePipe:[userRoles.STUDENT]) && task.done">
        <mat-icon class="icon">done</mat-icon>
        <p>
          Задание выполнено
        </p>
      </div>
      <p *ngIf="(userInfo | userRolePipe:[userRoles.STUDENT]) && userInfo.currentTask.status === taskStatuses.PENDING && userInfo.currentTask.id === task.id">На проверке</p>
      <button *ngIf="(userInfo | userRolePipe:[userRoles.STUDENT]) && task.id !== userInfo.currentTask.id && task.allow" (click)="assignTask(task)" mat-raised-button color="primary">Начать выполнение</button>
      <button *ngIf="(userInfo | userRolePipe:[userRoles.STUDENT]) && task.id === userInfo.currentTask.id && userInfo.currentTask.status === taskStatuses.PROCESSING" mat-raised-button color="primary" (click)="passTask(task)">Сдать задание</button>
      <button *ngIf="(userInfo | userRolePipe:[userRoles.ADMIN, userRoles.COACH])" mat-raised-button color="primary" [routerLink]="['../update-task/', task.id]">Обновить</button>
      <button *ngIf="task.nextTask.id !== 'initial' && (userInfo | userRolePipe:[userRoles.ADMIN, userRoles.COACH])" mat-raised-button color="warn" (click)="deleteTask(task.id)">Удалить</button>
    </mat-expansion-panel>
  </mat-accordion>
</div>
