<div class="pending-tasks">
  <h1>Задания отправлены на проверку</h1>
  <button mat-raised-button color="primary" routerLink="../task-list">Назад</button>
  <div class="task-item" *ngFor="let user of pendingTasksData">
    <h4>{{user.userName}}</h4>
    <div class="task-description">
      <p class="title">{{user.currentTask.title}}</p>
      <p class="description" [innerHtml]="user.currentTask.description"></p>
      <div class="user-example">
        <p class="title">Пример ученика</p>
        <a [href]="user.currentTask.reviewExample" target="_blank">Ссылка на видео</a>
      </div>
      <div class="coach-mark">
        <label id="mark-radio">Оцените выполнение</label>
        <mat-radio-group
          aria-labelledby="mark-radio"
          [(ngModel)]="coachMark"
          (change)="changeMark(user)"
          >
          <mat-radio-button class="example-radio-button" *ngFor="let mark of marks" [value]="mark.value">
            {{mark.title}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="more-info">
        <p>Максимальная награда: {{user.currentTask.reward}} балов</p>
        <p *ngIf="resultMark > 0">Ученик получит: {{resultMark}} балов</p>
      </div>
    </div>
    <div class="actions">
      <button mat-raised-button color="primary" (click)="acceptTask(user)" [disabled]="!coachMark">Принять</button>
      <button mat-raised-button color="warn" (click)="reject(user)">Отклонить</button>
    </div>
  </div>
</div>
