<div class="user-panel">
  <div class="close" (click)="close()">
    <mat-icon>close</mat-icon>
  </div>
  <div class="user-avatar">
    <img [src]="userInfo.userImg ? 'api/' + userInfo.userImg : 'assets/user-default.png'" alt="user-avatar">
  </div>
    <p class="name">{{userInfo.userName}}<mat-icon *ngIf="!(userInfo | userRolePipe:[userRoles.ADMIN])" (click)="navigate('profile')">edit</mat-icon></p>
    <div class="user-info">
      <span>{{'COMMON.ROLES.' + userInfo.role.name | translate}}</span>
      <span *ngIf="userInfo | userRolePipe:[userRoles.STUDENT]">{{userInfo.course ? userInfo.course.name : 'Not selected course'}}</span>
    </div>
</div>
<div class="navigation-side">
  <div class="sidenav-menu">
    <ul>
        <li routerLinkActive="active" [routerLink]="['dashboard']"><mat-icon>home</mat-icon><a (click)="navigate('dashboard')">{{'COMMON.MAIN' | translate}}</a></li>
        <!-- <li routerLinkActive="active"><mat-icon>equalizer</mat-icon><a routerLink="ratings">Рейтинг</a></li> -->
        <li *ngIf="!(userInfo | userRolePipe:[userRoles.PARENT])" [routerLink]="['tasks']" routerLinkActive="active"><mat-icon>done_all</mat-icon><a (click)="navigate('tasks')">{{'COMMON.COURSE' | translate}}</a></li>
        <li *ngIf="!(userInfo | userRolePipe:[userRoles.COACH, userRoles.PARENT]) && false" [routerLink]="['payments']" routerLinkActive="active"><mat-icon>payment</mat-icon><a (click)="navigate('payments')">{{'COMMON.PAYMENT' | translate}}</a></li>
        <li *ngIf="!(userInfo | userRolePipe:[userRoles.PARENT]) && false" [routerLink]="['videos']" routerLinkActive="active"><mat-icon>subscriptions</mat-icon><a (click)="navigate('videos')">{{'COMMON.USEFULL_VIDEO' | translate}}</a></li>
        <li [routerLink]="['homeworks']" routerLinkActive="active"><mat-icon>home_work</mat-icon><a (click)="navigate('homeworks')">{{'COMMON.HOMEWORKS' | translate}}</a></li>
        <li [routerLink]="['about-us']" routerLinkActive="active"><mat-icon>groups</mat-icon><a (click)="navigate('about-us')">{{'COMMON.ABOUT_US' | translate}}</a></li>
    </ul>
</div>
<div class="site-info">
  <div class="socials">
    <div class="social-item">
      <a href="https://t.me/IlliaHusak" target="_blank">
        <img src="assets/img/telegram.svg" alt="">
      </a>
    </div>
  </div>
  <a [href]="!env.production ? 'http://localhost:3000/static/using.pdf' : 'api/static/using.pdf'" target="_black">
    {{'COMMON.SERVICE_USAGE' | translate}}
  </a> |
  <a [href]="!env.production ? 'http://localhost:3000/static/oferta.pdf' : 'api/static/oferta.pdf'" target="_black">
    {{'COMMON.OFFER' | translate}}
  </a>
  <div>Librarytricks</div>
  <div><b>2021</b></div>
  <span class="payments-logo">
    <img src="assets/img/payments.png" alt="">
  </span>
  <div class="update">
    {{'COMMON.UPDATES' | translate}} <a (click)="navigate('versions')"><b>v{{env.version}}</b></a>
  </div>
</div>
</div>
