<div class="wrapper">
  <div class="centering">
  <div class="content">
  <div class="line-block item-auth">
  <h2 class="title-login">Library[tricks]</h2>
  <p class="name-page">Регистрация</p>
  <div class="form">
  <div class="form-group">
    <mat-form-field appearance="outline">
    <mat-label>Имя</mat-label>
    <input required type="text" matInput [(ngModel)]="userName">
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field appearance="outline">
    <mat-label>Почта</mat-label>
    <input required type="email" matInput [(ngModel)]="userEmail">
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field appearance="outline">
    <mat-label>Пароль</mat-label>
    <input type="password" matInput [(ngModel)]="userPass">
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field>
        <mat-label>Тип пользователя</mat-label>
        <mat-select (selectionChange)="selectUserType($event.value)">
          <mat-option *ngFor="let role of userRoles" [value]="role">{{role.title}}</mat-option>
        </mat-select>
      </mat-form-field>
  </div>
  <div class="message">
    <p>{{registerMessage}}</p>
  </div>
  <div class="line-block">
    <button [disabled]="!userPass || !userEmail || !userName || !userStatus" mat-flat-button color="primary"(click)="registerUser(userEmail, userPass, userName)">Регистраия</button>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  
  
  
  
