<div class="edit-profile">
  <div class="avatar">
  <div class="previewImg" *ngIf="previewUrl">
    <img [src]="previewUrl" alt="avatar">
  </div>
    <button mat-raised-button color="primary" (click)="fileInput.click()">Upload photo</button>
  <input type="file" #fileInput (change)="fileProgress($event)" class="avatarAddImage">
  </div>
  <form [formGroup]="userInfo" (ngSubmit)="addInfo()" *ngIf="initForm">
  <div class="form-view">
    <div class="item">
      <h2>Main info</h2>
      <mat-form-field>
      {{model}}
      <input formControlName="userName" matInput placeholder="FIO" name="fio">
      </mat-form-field>
      <mat-form-field>
        <input formControlName="phone" matInput placeholder="Phone">
      </mat-form-field>
      <mat-form-field>
        <input formControlName="email" matInput placeholder="email">
      </mat-form-field>
      <mat-form-field>
        <input formControlName="startTraining" matInput [matDatepicker]="picker" placeholder="Start date training">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <textarea formControlName="aboutMe" matInput placeholder="About me"></textarea>
      </mat-form-field>
      </div>
      <div class="item">
      <h2>Additional info</h2>
      <mat-form-field>
        <input formControlName="instagram" matInput placeholder="instagram">
      </mat-form-field>
      <mat-form-field>
        <input formControlName="facebook" matInput placeholder="facebook">
      </mat-form-field>
      <mat-form-field>
        <input formControlName="bestTrick" matInput placeholder="best trick name">
      </mat-form-field>
      </div>
      <div class="item">
      <h2>Parent info</h2>
      <mat-form-field>
        <input formControlName="parentName" matInput placeholder="FIO">
      </mat-form-field>
      <mat-form-field>
        <input formControlName="parentPhone" matInput placeholder="Phone">
      </mat-form-field>
      <mat-form-field>
        <input formControlName="parentEmail" matInput placeholder="email">
      </mat-form-field>
      </div>
  </div>
  <button mat-raised-button color="primary">Save</button>
  </form>
</div>
