<h1>Как использовать olbrarytricks</h1>
<h3>Регистрация</h3>
<p>
  После, регистрации, на почту которую вы указали придет письмо для подтверждения вашего аккаунта. После подтверждения вы сможете зайти в сервис.
</p>
<p>
  Главное заполнить профиль(<mat-icon>edit</mat-icon>) и подробную информацию.
</p>
<div class="role" *ngIf="userInfo | userRolePipe:[userRoles.STUDENT]">
  <h2>Студент(Ученик)</h2>
  <h4>Главная</h4>
  <p>
    На главной странице вы можете найти информацию про позицию в курсе, количество полученны skillz, состояние текущей задачи, информацию про тренера.
  </p>
  <h4>Задания</h4>
  <p>
    Что бы начать выполнять задания из курса, нужно в профиле выбрать тренера и курс. 
    <br>
    <b>Внимание!</b> Курсы выполняються постепенно. Следующее задание будет доступно после выполнения и подтвеждения тренером о выполнении данного задания.
  </p>
  <ol>
    <li>Начинаешь выполнять задание</li>
    <li>Снимаешь видео</li>
    <li>Отправляешь на проверку тренеру</li>
    <li>Получаешь оценку</li>
    <li>Выполняешь следующее задание</li>
    <li>Если тренер отклонил задание, просто потренирую и пересними видео и отправь новое видео на пересдачу</li>
  </ol>
  <h4>Домашние задание</h4>
  <p>
    Домашние задания будут опубликованны для учеников офлайн школы или по желанию ученика.
  </p>
</div>
<div class="role" *ngIf="userInfo | userRolePipe:[userRoles.COACH]">
  <h2>Тренер</h2>
  <h4>Главная</h4>
  <p>
    На главной странице вы можете найти информацию про позицию любого ученика в курсе.
  </p>
  <h4>Задания</h4>
  <p>
    <b>Внимание!</b> Все возможности тренера будут доступны после подтверждения администрацией тренерской квалификации.
  </p>
  <p>
    Если еще не созданны курсы, вы должны создать курс, после чего будет доступна возможность создавать задания для выбранного курса.
  </p>
  <p>
    Вы можете создавать задания, редактировать и удалять их. 
    <br>
    <b>"В процессе"</b> - это задания которые выполняют ученики в данный момент.
    <br>
    <b>"Ожидают проверки"</b> - задания отправленны вам на проверку.
  </p>
  <p>
    Вы можете отклонить задание и отправить ученика обратно выполнять задания.
  </p>
  <h4>Домашние задание</h4>
  <p>Вы можете создавать задания для всех учеников или для определенной группы учеников.</p>
</div>
<div class="role" *ngIf="userInfo | userRolePipe:[userRoles.PARENT]">
  <h2>Родитель</h2>
  <h4>Профиль</h4>
  <p>
    Обязательно віберите в профиле своего ребенка, после этого будут доступны данные про прогресс вашего ребенка.
  </p>
  <h4>Главная</h4>
  <p>
    На главной странице вы можете найти информацию про позицию вашего ребенка курсе, награды, тренера у кого он тренируеться.
  </p>
  <h4>Домашние задание</h4>
  <p>Вы можете просматривать домашние задания вашего ребенка.</p>
</div>