<div class="wrapper">
    <div class="centering">
      <div class="content">
        <div class="line-block item-auth">
  <h2 class="title-login">Library[tricks]</h2>
  <p class="name-page">{{'TEMPLATE.LOGIN.ENTER_SYSTEM' | translate}}</p>
            <div class="form">
                <div class="form-group">
                    <mat-form-field appearance="outline">
                        <mat-label>{{'COMMON.EMAIL' | translate}}</mat-label>
                        <input required type="email" matInput [(ngModel)]="email">
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field appearance="outline">
                        <mat-label>{{'COMMON.PASSWORD' | translate}}</mat-label>
                        <input (keyup.enter)="loginUser(email, pass)" type="password" required matInput [(ngModel)]="pass">
                    </mat-form-field>
                </div>
                <div class="line-block">
                    <button type="submit" [disabled]="!pass || !email" mat-flat-button color="primary" (click)="loginUser(email, pass)">{{'COMMON.SIGN_IN' | translate}}</button>
                </div>
            </div>
            <!-- <div class="login-social line-block item-auth">
                <fa name="facebook-square" class="social-icon"></fa>
                <button mat-raised-button color="primary" (click)="loginFacebook()">Login with facebook</button>
            </div>
            <div class="login-social line-block item-auth">
                <fa name="google" class="social-icon"></fa>
                <button mat-raised-button color="primary" (click)="loginGoogle()">Login with Google</button>
            </div> -->
        </div>
        <div class="line-block"><a class="sign-up" routerLink="/register">{{'TEMPLATE.LOGIN.DONT_HAVE_ACCOUNT' | translate}}</a></div>
        <div *ngIf="forgotPass" class="line-block"><a class="forgot-password" routerLink="/forgot-password">{{'TEMPLATE.FORGOT_PASSWORD.TITLE' | translate}}</a></div>
      </div>
    </div>
  </div>



