<div class="navigation">
  <button *ngIf="(userInfo | userRolePipe:[userRoles.ADMIN])" mat-raised-button color="primary" [routerLink]="'../create'">{{'TEMPLATE.SHOP.CREATE_PRODUCT' | translate}}</button>
  <mat-icon *ngIf="basket.length" [matMenuTriggerFor]="basketMenu" class="basket" [matBadge]="basket.length" matBadgePosition="before" matBadgeColor="primary">shopping_basket</mat-icon>
  <mat-menu #basketMenu="matMenu">
    <div class="items-wrap">
      <div class="basket-item" *ngFor="let basketItem of basket">
        <div class="item-desc">
          <div class="title">{{basketItem.title}}</div>
          <mat-icon class="remove" (click)="removeProduct(basketItem.id)">close</mat-icon>
        </div>
      </div>
      <div class="sum">
        <div class="skillz"><b>{{priceSum(basket, 'skillz')}}</b> skillz</div>
        <div class="price"><b>{{priceSum(basket, 'price')}}</b> UAH</div>
      </div>
      <button mat-raised-button color="primary">PAY</button>
    </div>
  </mat-menu>
</div>
<div class="wrap-list">
  <div class="item" *ngFor="let product of productList">
    <div class="images">
      <img src="api/{{product.images[0]}}" alt="product-img">
    </div>
    <div class="info">
<!--      <div class="rating">-->
<!--        <i class="far fa-star"></i>-->
<!--        <i class="far fa-star"></i>-->
<!--        <i class="far fa-star"></i>-->
<!--        <i class="far fa-star"></i>-->
<!--        <i class="far fa-star"></i>-->
<!--      </div>-->
      <h5>{{product.title}}</h5>
      <p class="description" [innerHTML]="product.description"></p>
      <div class="prices-wrap">
        <div class="prices">
          <p class="skillz"><span class="amount">{{product.skillz}}</span> <span class="value-name">skillz</span></p>
          <p class="price" [ngClass]="{'visible': product.price}"><span class="amount">{{product.price}}</span> <span class="value-name">UAH</span></p>
        </div>
      </div>
    </div>
    <div class="actions">
      <button (click)="addToBasket(product)" mat-raised-button color="primary">BUY</button>
      <button [routerLink]="['../card/', product.id]" mat-raised-button color="primary">VIEW</button>
    </div>
  </div>
</div>
