/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "app/shared/shared.style.scss";
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';
body, html {
    // font-family: 'Roboto', sans-serif;
    font-family: 'Montserrat', sans-serif;
    //font-family: SourceSansPro,Roboto,Helvetica !important;
    margin: 0;
    height: 100%;
    min-height: 100%;
}
ul {
    padding-left: 0;
    margin: 0;
    li {
        list-style-type: none;
    }
}
ul {
  &.default {
    padding-left: 15px;
    li {
      list-style-type: disc;
    }
}
}

.success {
    background: #28a745;
}
.error {
  background: #ed4337;

}
.mat-icon {
  cursor: pointer;
  outline: none;
}
.full-width {
  width: 100%;
}
//.warn {
//  color: #FF8C00;
//}
//.success {
//  color: #3CB371;
//}
quill-editor {
  &.ng-dirty {
    &.ng-invalid {
      .ql-editor {
        background-color: rgb(255 0 0 / 35%);
      }
    }
  }
}
