<h3>{{'TEMPLATE.TASK_LIST.COACH.CREATE_COURSE.TITLE' | translate}}</h3>
<p>{{'TEMPLATE.TASK_LIST.COACH.CREATE_COURSE.INFO' | translate}}</p>
<p>{{'COMMON.ATTENTION' | translate}}! {{'TEMPLATE.TASK_LIST.COACH.CREATE_COURSE.ATTENTION_MESSAGE' | translate}}</p>
<form class="form" [formGroup]="createCourseFrom">
<mat-form-field class="group-name-field">
  <mat-label>{{'TEMPLATE.TASK_LIST.COACH.CREATE_COURSE.NAME' | translate}}</mat-label>
  <input matInput type="text" formControlName="name">
</mat-form-field>

<mat-form-field *ngIf="(userInfo | userRolePipe:[userRoles.ADMIN]) && !createCourseFrom.value.forAll">
  <mat-label>{{'COMMON.COACH' | translate}}</mat-label>
  <mat-select formControlName="coachId">
    <mat-option *ngFor="let coach of coachList" [value]="coach.id">{{coach.userName}}</mat-option>
  </mat-select>
</mat-form-field>

<div class="description">
  <div class="describe-course">
    <h3>{{'TEMPLATE.TASK_LIST.COACH.CREATE_COURSE.DESCRIPTION' | translate}}</h3>
    <quill-editor formControlName="text" placeholder="{{'COMMON.DETAILS' | translate}}" required="true"></quill-editor>
  </div>

  <mat-form-field>
    <mat-label>{{'TEMPLATE.TASK_LIST.COACH.CREATE_COURSE.SHORT_VIDEO' | translate}}</mat-label>
      <input formControlName="video" matInput type="text">
  </mat-form-field>
</div>

<div class="price">
  <div class="text">
    <mat-form-field>
      <mat-label>{{'TEMPLATE.TASK_LIST.COACH.CREATE_COURSE.PRICE' | translate: {price: 'uah'} }}</mat-label>
      <input formControlName="price" matInput type="number">
    </mat-form-field>
  </div>
</div>

<section class="for-all-coaches" *ngIf="(userInfo | userRolePipe:[userRoles.ADMIN]) && !createCourseFrom.value.coachId">
  <mat-checkbox formControlName="forAll" (change)="forAllCoaches()">{{'TEMPLATE.TASK_LIST.COACH.CREATE_COURSE.FOR_ALL_COACHES' | translate}}</mat-checkbox>
</section>

<button mat-flat-button color="primary" [disabled]="!createCourseFrom.valid" (click)="create()">{{'TEMPLATE.TASK_LIST.COACH.CREATE_COURSE.CREATE_COURSE' | translate}}</button>
</form>