@import './../shared/styles.mixins.scss'; 

.main {
    background-image: url('./../../assets/img/bg.jpg');
    background-size: cover;
    height: auto;
    min-height: 100%;
    .logo {
        max-width: 40px;
        max-height: 45px;
        img {
            width: 100%;
        }
    }
    .mat-toolbar {
        position: absolute;
        top: 0;
        &.mat-toolbar-single-row {
            background-color: transparent !important;
        }
        .nav {
            li {
                display: inline-block;
                margin-left: 25px;
                a {
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }
    .spacer {
        flex: 1 1 auto;
      }
    .view {
      padding: 100px 50px;
    }
}
