<div class="main">
    <mat-toolbar>
        <div class="logo">
            <img src="assets/img/logo-single.png" alt="logo-afreestylers">
        </div>
        <span class="spacer"></span>
        <span class="nav">
            <ul>
                <li><app-language></app-language></li>
                <li><a routerLink="">{{'COMMON.MAIN' | translate}}</a></li>
                <li><a routerLink="/login">{{'COMMON.SIGN_IN' | translate}}</a></li>
                <li><a routerLink="/register">{{'COMMON.SIGN_UP' | translate}}</a></li>
                <li class="contact"><a href="https://t.me/IlliaHusak" target="_blank">
                  <img src="assets/img/telegram.svg" alt="telegram-contact">
                </a></li>
            </ul>
        </span>
    </mat-toolbar>
    <div class="view">
        <router-outlet></router-outlet>
    </div>
</div>