@import './../shared/styles.mixins.scss'; 

.main {
    background-image: url('./../../assets/img/bg.jpg');
    background-size: cover;
    height: auto;
    min-height: 100%;
    .logo {
        max-width: 40px;
        max-height: 45px;
        img {
            width: 100%;
        }
    }
    .mat-toolbar {
        position: absolute;
        top: 0;
        &.mat-toolbar-single-row {
            background-color: transparent !important;
        }
        .nav {
            li {
                display: inline-block;
                margin-left: 25px;
                app-language {
                  ::ng-deep {
                    .mat-button-wrapper {
                      mat-icon {
                        color: #fff;
                      }
                    }
                  }
                }
                &.contact {
                  a {
                    width: 30px;
                    height: 40px;
                    position: relative;
                    top: 5px;
                    img {
                      width: 25px;
                      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(327deg) brightness(104%) contrast(102%);
                    }
                  }
                }
                a {
                    color: #fff;
                    text-decoration: none;
                    font-size: 12px;
                }
            }
        }
    }
    .spacer {
        flex: 1 1 auto;
      }
    .view {
      padding: 100px 50px;
    }
}
