<div class="main">
    <mat-toolbar>
        <div class="logo">
            <img src="assets/img/logo-single.png" alt="">
        </div>
        <span class="spacer"></span>
        <span class="nav">
            <ul>
                <li><a routerLink="">Главная</a></li>
                <li><a routerLink="/login">Логин</a></li>
                <li><a routerLink="/register">Регистрация</a></li>
            </ul>
        </span>
    </mat-toolbar>
    <div class="view">
        <router-outlet></router-outlet>
    </div>
</div>