<div class="edit-profile">
  <form method="post" action="/" enctype="multipart/form-data">
     <div class="avatar">
        <div class="previewImg" *ngIf="previewUrl">
           <img [src]="previewUrl" alt="avatar">
        </div>
        <button mat-raised-button color="primary" (click)="fileInput.click()">{{'TEMPLATE.PROFILE.UPLOAD_PHOTO' | translate}}</button>
        <input type="file" name="avatar" #fileInput (change)="fileProgress($event)" class="avatarAddImage">
     </div>
  </form>
  <form [formGroup]="userInfo" *ngIf="initForm">
  <input type="text" formControlName="userImg" #formImgHidden hidden>
  <div class="form-view">
     <div class="item">
        <h2>{{'TEMPLATE.PROFILE.PROFILE' | translate}}</h2>
       <mat-form-field>
         <input formControlName="nickName" matInput placeholder="{{'TEMPLATE.PROFILE.NICK_NAME' | translate}}" name="nickname">
       </mat-form-field>
        <mat-form-field>
           <input formControlName="userName" matInput placeholder="{{'TEMPLATE.PROFILE.FULL_NAME' | translate}}" name="fio" required>
        </mat-form-field>
        <mat-form-field>
           <input formControlName="phone" matInput placeholder="{{'COMMON.PHONE' | translate}}" required>
        </mat-form-field>
        <mat-form-field>
           <input formControlName="email" matInput placeholder="{{'COMMON.EMAIL' | translate}}" required>
        </mat-form-field>
        <mat-form-field *ngIf="userInfoData | userRolePipe:[userRoles.STUDENT, userRoles.COACH]">
           <input formControlName="startTraining" matInput [matDatepicker]="picker" placeholder="{{'TEMPLATE.PROFILE.START_TRAINING' | translate}}" required>
           <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
           <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field *ngIf="userInfoData | userRolePipe:[userRoles.STUDENT]">
          <input formControlName="birthDay" matInput [matDatepicker]="picker" placeholder="{{'COMMON.BIRTHDAY' | translate}}" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
       </mat-form-field>
        <mat-form-field *ngIf="!(userInfoData | userRolePipe:[userRoles.ADMIN])">
           <textarea formControlName="aboutMe" matInput placeholder="{{'TEMPLATE.PROFILE.ABOUT_ME' | translate}}"></textarea>
        </mat-form-field>
     </div>
     <div class="item" *ngIf="!(userInfoData | userRolePipe:[userRoles.ADMIN])">
        <h2>{{'TEMPLATE.PROFILE.ADDITIONAL_INFO' | translate}}</h2>
        <mat-form-field>
           <input formControlName="instagram" matInput placeholder="{{'COMMON.SOCIAL_NETWORKS.INSTAGRAM' | translate}}">
        </mat-form-field>
        <mat-form-field>
           <input formControlName="facebook" matInput placeholder="{{'COMMON.SOCIAL_NETWORKS.FACEBOOK' | translate}}">
        </mat-form-field>
        <mat-form-field *ngIf="userInfoData | userRolePipe:[userRoles.STUDENT, userRoles.COACH]">
           <input formControlName="bestTrick" matInput placeholder="{{'TEMPLATE.PROFILE.BEST_TRICK' | translate}}">
        </mat-form-field>
     </div>
     <div class="item" *ngIf="userInfoData | userRolePipe:[userRoles.STUDENT]">
        <h2>{{'TEMPLATE.PROFILE.PARENTS_INFO' | translate}}</h2>
        <mat-form-field>
           <input formControlName="parentName" matInput placeholder="{{'TEMPLATE.PROFILE.FULL_NAME' | translate}}" required>
        </mat-form-field>
        <mat-form-field>
           <input formControlName="parentPhone" matInput placeholder="{{'COMMON.PHONE' | translate}}" required>
        </mat-form-field>
        <mat-form-field>
           <input formControlName="parentEmail" matInput placeholder="{{'COMMON.EMAIL' | translate}}" required>
        </mat-form-field>
     </div>
     <div class="item" *ngIf="userInfoData | userRolePipe:[userRoles.STUDENT]">
        <h2>{{'COMMON.COACH' | translate}}</h2>
        <div class="form-group">
           <mat-form-field>
              <mat-label>{{'TEMPLATE.PROFILE.SELECT_YOUR_COACH' | translate}}</mat-label>
              <mat-select [disabled]="(userInfoData | userRolePipe:[userRoles.STUDENT]) && !!userInfoData.currentTask.status && userInfoData.currentTask.status !== taskStatuses.DONE" [compareWith]="compareObjectsCoach" formControlName="coach" (selectionChange)="changeCoach($event.value, true)">
              <mat-option *ngFor="let coach of coachList" [value]="coach">{{coach.userName}}</mat-option>
              </mat-select>
           </mat-form-field>
        </div>
     </div>
     <div class="item" *ngIf="(userInfoData | userRolePipe:[userRoles.STUDENT]) && coach">
        <h2>{{'COMMON.COURSE' | translate}}</h2>
        <div class="form-group">
           <mat-form-field>
              <mat-label>{{'COMMON.COURSE' | translate}}</mat-label>
              <mat-select [disabled]="(userInfoData | userRolePipe:[userRoles.STUDENT]) && !!userInfoData.currentTask.status && userInfoData.currentTask.status !== taskStatuses.DONE" [compareWith]="compareObjectsCourse" formControlName="course" (selectionChange)="changeCourse($event.value)">
              <mat-option *ngFor="let course of coachCourses" [value]="course">{{course.name}}</mat-option>
              </mat-select>
           </mat-form-field>
           <div class="empty" *ngIf="!coachCourses.length">{{'TEMPLATE.PROFILE.EMPTY_COURSE_LIST' | translate}}</div>
        </div>
     </div>
     <div class="item" *ngIf="userInfoData | userRolePipe:[userRoles.PARENT]">
        <h2>{{'TEMPLATE.PROFILE.MY_KID' | translate}}</h2>
        <div class="form-group" id="kid-selectors" #kidSelector>
           <div class="parent-kids" *ngIf="parentKids.length">
             <div *ngFor="let kid of parentKids">
                <span *ngIf="kid.id">{{kid.name}} ({{kid.email}})</span>
             </div>
           </div>
          <div class="add-kids-wrap">
            <form [formGroup]="addKidForm" *ngIf="addKidForm.value">
              <div class="email-input" *ngFor="let input of kidEmailsInput;">
                <mat-form-field>
                  <input [formControlName]="input.id" matInput placeholder="{{'COMMON.EMAIL_CHILD' | translate}}">
                </mat-form-field>
              </div>
            </form>
          </div>
        </div>
        <mat-icon (click)="addKid()">add_circle_outline</mat-icon>
        <button (click)="sendInvitation()" mat-raised-button color="primary" *ngIf="kidEmailsInput.length && addKidForm.valid" [disabled]="!addKidForm.valid || !addKidForm.dirty">{{'COMMON.SEND_INVITATION' | translate}}</button>
     </div>
  </div>
  <button (click)="addInfo()" mat-raised-button color="primary" [disabled]="!userInfo.valid || !userInfo.dirty">{{'COMMON.SAVE' | translate}}</button>
  </form>
</div>
