<div class="profile-wrap" *ngIf="userInfo">
<h4>Профиль</h4>
  <div class="content">
      <div class="col">
        <mat-card class="card">
          <mat-card-header>
            <div mat-card-avatar class="header-image">
              <img [src]="previewUrl" alt="avatar" *ngIf="previewUrl">
            </div>
            <mat-card-title>{{userInfo.userName}}<mat-icon *ngIf="!(userInfo | userRolePipe:[userRoles.ADMIN])" routerLink="settings">edit</mat-icon></mat-card-title>
            <mat-card-subtitle>Уровень</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      <mat-card class="card">
              <mat-card-content>
                      <router-outlet></router-outlet>
              </mat-card-content>
      </mat-card>
      </div>
    </div>
</div>
