<h1>{{'COMMON.ABOUT_US' | translate}}</h1>
<div class="info">
  <div class="item">
    <h4>{{'TEMPLATE.ABOUT_US.LB.TITLE' | translate}}?</h4>
    <p innerHtml="{{'TEMPLATE.ABOUT_US.LB.TEXT' | translate}}"></p>
  </div>
  <div class="item">
    <h4>{{'TEMPLATE.ABOUT_US.FF.TITLE' | translate}}</h4>
    <p>{{'TEMPLATE.ABOUT_US.FF.TEXT' | translate}}</p>
  </div>
  <div class="item">
    <h4>{{'TEMPLATE.ABOUT_US.GOALS.TITLE' | translate}}</h4>
    <p>{{'TEMPLATE.ABOUT_US.GOALS.TEXT' | translate}}</p>
  </div>
  <div class="item">
    <h4>{{'TEMPLATE.ABOUT_US.APPROACH.TITLE' | translate}}</h4>
    <p>{{'TEMPLATE.ABOUT_US.APPROACH.TEXT' | translate}}</p>
  </div>
  <div class="item">
    <h4>{{'TEMPLATE.ABOUT_US.COMPETITIONS.TITLE' | translate}}</h4>
    <p>{{'TEMPLATE.ABOUT_US.COMPETITIONS.TEXT' | translate}}</p>
  </div>
</div>
