<h1>О нас</h1>
<div class="info">
  <div class="item">
    <h4>Librarytricks что за сервис?</h4>
    <p>Для ускорения и мотивации детей был создан этот проект. В нем мы будем как обучаться так и делиться информацией связанные с футбольным фристайлом и футболом. За прогресс ученики смогут приобретать фирменный stuff из интернет магазина за валюту (<b>skillz</b>) которую они получат за выполнение заданий.</p>
  </div>
  <div class="item">
    <h4>Футбол, фристайл, техника</h4>
    <p>У нас тренеруют профессионалы своего дела. На протяжении более 5 лет мы проводим офлайн тренировки, но сейчас пришло время выйти нам на новый уровень. По этому мы запустили сервис по обучению в формате онлайн для всех наших учеников и всех кто интеренсуеться темой футбольного фристайла и футбола.</p>
  </div>
  <div class="item">
    <h4>Наши цели</h4>
    <p>Так как мы видем что желающих обучиться достаточно много, мы и собрались все тут что бы поделиться своим опытом и как можно быстрее обучить новому и закрепить уже выученное. Так же мы заинтересованны в воспитании наших учеников как великих спортсменов так и добропорядочных людей.</p>
  </div>
  <div class="item">
    <h4>Индивидуальный подход</h4>
    <p>Каждый ученик - уникальный человек, к которому нужен уникальный подход. Мы стараемся разсмотреть все сильный и слабые стороны и максимально ефективно их развить. Мы более чем уверены что хорошо тренируеться тот кому это нравиться и мы максимально в этом поддержим наших учеников.</p>
  </div>
  <div class="item">
    <h4>Соревнования</h4>
    <p>Мы нацелены на результат, а результат будет лишь в попытке стать лучше. Мы готовим учеников к соревнованиям разного характера. Так как родители учеников заинтересованны в развитии их детей мы так же даем доступы к сервису что бы родители могли смоьтреть за успехами и прогрессом своего ребенка.</p>
  </div>
</div>
