<div class="versions-wrapper">
  <h1>Librarytricks (версионность)</h1>
  <h6>текущая версия v{{env.version}}</h6>
<span class="info">Здесь вы можете увидеть все обновлений по проекту </span>
<div class="version">
  <h4>v1.0.0</h4>
<ul>
  <li>Запуск проекта</li>
  <li>Домашние задания для офлайн учеников</li>
  <li>Бесплатные курсы</li>
  <li>Редактирование профиля</li>
  <li>Родители могу просматривать успехи своего ребенка</li>
  <li>Тренер может создавать и редактировать ДЗ и курсы</li>
  <li>Мультивыбор тренеров</li>
  <li>Обратная связь через телеграм</li>
  <li>Мультиязичность</li>
</ul>
</div>
<div class="version">
  <h4>v1.0.1</h4>
<ul>
  <li>Нотификации (оповещения)</li>
  <li>Сортировка домашних заданий от новый к старым</li>
  <li>Добавлена в профиль студента: дата его рождения*</li>
</ul>
</div>
</div>