<div class="versions-wrapper">
  <h1>{{'TEMPLATE.VERSIONS.TITLE' | translate}}</h1>
  <h6>{{'TEMPLATE.VERSIONS.CURRENT_VERSION' | translate}} v{{env.version}}</h6>
<span class="info">{{'TEMPLATE.VERSIONS.DESCRIPTION' | translate}}</span>
<div class="version">
  <h4>v1.0.0</h4>
<ul>
  <li>{{'TEMPLATE.VERSIONS.1_0_0.START_PROJECT' | translate}}</li>
  <li>{{'TEMPLATE.VERSIONS.1_0_0.HOMEWORKS_FOR_OFFLINE' | translate}}</li>
  <li>{{'TEMPLATE.VERSIONS.1_0_0.FREE_COURSES' | translate}}</li>
  <li>{{'TEMPLATE.VERSIONS.1_0_0.UPDATING_PROFILE' | translate}}</li>
  <li>{{'TEMPLATE.VERSIONS.1_0_0.PARENTS_CONTROL' | translate}}</li>
  <li>{{'TEMPLATE.VERSIONS.1_0_0.COACH_CAN' | translate}}</li>
  <li>{{'TEMPLATE.VERSIONS.1_0_0.MULTI_SELECT_COACHES' | translate}}</li>
  <li>{{'TEMPLATE.VERSIONS.1_0_0.FEEDBACK_TELEGRAM' | translate}}</li>
  <li>{{'TEMPLATE.VERSIONS.1_0_0.MULTI_LANGUAGES' | translate}}</li>
</ul>
</div>
<div class="version">
  <h4>v1.0.1</h4>
<ul>
  <li>{{'TEMPLATE.VERSIONS.1_0_1.NOTIFICATIONS' | translate}}</li>
  <li>{{'TEMPLATE.VERSIONS.1_0_1.SORTING_HOMEWORKS' | translate}}</li>
  <li>{{'TEMPLATE.VERSIONS.1_0_1.DATE_OF_BIRTH_STUDENT' | translate}}</li>
</ul>
</div>
<div class="version">
  <h4>v1.0.2</h4>
<ul>
  <li>{{'TEMPLATE.VERSIONS.1_0_2.NEW_VIDEO_MODULE' | translate}}</li>
  <li>{{'TEMPLATE.VERSIONS.1_0_2.ASSIGN_USER_REGISTARTION' | translate}}</li>
  <li>{{'TEMPLATE.VERSIONS.1_0_2.PARENT_PROFILE_CHANGE' | translate}}</li>
  <li>{{'TEMPLATE.VERSIONS.1_0_2.PAGE_TITLES' | translate}}</li>
  <li>{{'TEMPLATE.VERSIONS.1_0_2.COURSE_CHANGE' | translate}}</li>
</ul>
</div>
</div>
